@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@700&family=Kosugi+Maru&family=Raleway:wght@400;600&family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,600&display=swap');

html {
  font-size: 100px;
  scroll-behavior: smooth;
}

body {
  background-color: #1e1a19;
  color: #fafafa;
  font-size: 0.16rem;
  font-family: 'DM Sans', 'Raleway';
}

.link {
  color: #e2e135;
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

h2 {
  font-size: 0.16rem;
  font-weight: 400;
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 0.14rem;
}

::selection {
  background-color: #e2e135;
  color: #1e1a19;
}
