@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap');

:root {
  --c-primary: #e2e135;
  --c-black: #332627;
  --c-black-1: #0d1123;
  --c-black-2: #464957;
  --c-black-3: #252a40;
  --c-black-4: #666a79;
  --c-white: #eee9d4;
  --c-white-1: #e2e2dd;
  --c-white-2: #959590;
  --c-white-3: #bcbcae;
  --c-white-4: #f9f9f2;
  --c-beige: #e8d6ae;
  --c-quaternary: var(--c-primary);
}

html {
  font-size: 100px;
  scroll-behavior: smooth;
  word-break: auto-phrase;
}

body {
  background-color: var(--c-black-2);
  color: var(--c-white-1);
  font-size: 0.16rem;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.link {
  color: var(--c-primary);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

a {
  text-decoration: none;
  color: var(--c-white-1);
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 0.16rem;
  font-weight: 400;
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 0.14rem;
}

::selection {
  background-color: var(--c-primary);
  color: var(--c-black);
}
