@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap');

html {
  font-size: 100px;
  scroll-behavior: smooth;
}

body {
  background-color: #1e1a19;
  color: #fafafa;
  font-size: 0.16rem;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

.link {
  color: #e2e135;
}

a {
  text-decoration: none;
  color: #fafafa;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 0.16rem;
  font-weight: 400;
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 0.14rem;
}

::selection {
  background-color: #e2e135;
  color: #1e1a19;
}
