.paginationContainer {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
}

.paginationContainer li {
  line-height: 1;
  list-style: none;
  width: 40px;
  height: 40px;
  border: 1px solid #fafafa;
  border-radius: 4px;
}

.paginationContainer li a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  background-color: #e2e135;
  border: 1px solid #e2e135 !important;
}

.active a {
  color: #333333;
}

@media screen and (max-width: 768px) {
  .paginationContainer {
    padding-top: 32px;
  }
}
