.blogContainer {
  display: flex;
  align-items: flex-start;
  overflow-x: scroll;
  gap: 24px;
  padding-bottom: 24px;
  scrollbar-width: none;
  width: 100%;
}

.blogContainer::-webkit-scrollbar {
  display: none;
}

.blogContainer li {
  min-width: 240px;
  border-radius: 8px;
}

.imageContainer {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
}

.imageContainer img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  transition: 0.3s;
}

.text {
  padding: 12px 6px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 0.14rem;
}

.text p {
  line-height: 0.18rem;
}

.category {
  width: fit-content;
  color: rgb(224, 241, 255);
}

@media screen and (max-width: 768px) {
  .blogContainer li:nth-child(1) {
    padding-left: 16px;
  }

  .blogContainer li:nth-last-child(1) {
    padding-right: 16px;
  }
}

@media (hover: hover) {
  .blogContainer li:hover .imageContainer img {
    transform: scale(1.06);
    transition: 0.4s;
  }

  .blogContainer li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.3s;
  }
}
