.topBlogsWrapper {
  /* width: 100vw;
  overflow-x: hidden; */
  /* background-image: url('/images/blogBackground9.png'); */
  /* background-position: center;
  background-size: cover;
  background-attachment: fixed; */
  width: 100vw;
  /* overflow-x: hidden; */
  background-color: var(--c-white-2);
  border-radius: 80px 80px 0 0;
}

.backgroundFilter {
  width: 100%;
  /* backdrop-filter: blur(3px) brightness(40%); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.blogContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 42px 24px;
  align-items: center;
  width: 100%;
}

.blog {
  width: 100%;
  /* border-radius: 80px 80px 0 80px; */
  position: relative;
  animation-duration: 0.4s;
}

.blog:first-child {
  animation-delay: 0.2s;
}
.blog:nth-child(2) {
  animation-delay: 0.3s;
}
.blog:nth-child(3) {
  animation-delay: 0.4s;
}
.blog:nth-child(4) {
  animation-delay: 0.5s;
}
.blog:nth-child(5) {
  animation-delay: 0.55s;
}
.blog:nth-child(6) {
  animation-delay: 0.6s;
}

.blog::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--c-primary);
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.imageContainer {
  width: 100%;
  border-radius: 80px 80px 0 80px;
  overflow: hidden;
  display: flex;
  position: relative;
}

.imageContainer img {
  object-fit: cover;
  transition: 0.3s;
}

.text {
  padding: 12px 6px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 0.168rem;
}

.text time {
  font-size: 0.148rem;
  letter-spacing: 0.05em;
}

.text h3 {
  line-height: 0.18rem;
  letter-spacing: 0.05em;
}

.category {
  font-size: 0.148rem;
  font-weight: 600;
  width: fit-content;
  color: var(--c-black);
  background-color: var(--c-white-1);
  padding: 10px 20px;
  border-radius: 80px 80px 0 80px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

@media screen and (max-width: 768px) {
  .blogContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .category {
    font-size: 0.1651rem;
    bottom: 12px;
    right: 10px;
    padding: 8px 12px;
  }

  .text time {
    font-size: 0.1651rem;
    letter-spacing: 0.05em;
  }

  .text h3 {
    font-size: 0.174rem;
  }
}

/* @media (hover: hover) {
  .blog:hover .imageContainer img {
    transform: scale(1.06);
    transition: 0.5s;
  }

  .blog:hover::after {
    transform: scale(1, 1);
  }
} */
