.blogContainer {
  display: flex;
  align-items: flex-start;
  overflow-x: scroll;
  gap: 24px;
  padding: unset;
  scrollbar-width: none;
  width: 100%;
}

.blogContainer::-webkit-scrollbar {
  display: none;
}

.blogContainer li {
  min-width: 240px;
}

.imageContainer img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 8px;
}

.text {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 0.14rem;
}

.text p {
  line-height: 0.18rem;
}

.category {
  width: fit-content;
  color: rgb(224, 241, 255);
}

@media screen and (max-width: 768px) {
  .blogContainer li:nth-child(1) {
    padding-left: 16px;
  }

  .blogContainer li:nth-last-child(1) {
    padding-right: 16px;
  }
}
