.headerContainer {
  display: none;
}

@media screen and (max-width: 768px) {
  .headerContainer {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: left;
    align-items: center;
  }

  .image {
    position: relative !important;
    width: auto !important;
    height: 50% !important;
    object-fit: contain;
    padding-left: 16px;
  }
}
