.navigationContainer {
  display: flex;
  height: 1.2rem;
  font-size: 0.14rem;
  padding-top: 0.6rem;
  position: sticky;
  top: 0;
  z-index: 999;
  align-items: flex-start;
  justify-content: space-between;
}

.navigationContainer h2 {
  display: flex;
  gap: 0.12rem;
  align-items: center;
  font-size: 0.16rem;
  height: 0.24rem;
  width: fit-content;
}

.imageLink {
  padding-left: 0.6rem;
}

.image {
  position: relative !important;
  width: 0.84rem !important;
  height: auto !important;
  object-fit: contain;
  min-width: 0.84rem;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  padding-right: 0.8rem;
  padding-left: 0.2rem;
  gap: 0.04rem;
}

.link {
  transition: 0.4s cubic-bezier(0.43, 0.05, 0.17, 1);
}

.text {
  font-size: 0.16rem;
}

@media screen and (max-width: 768px) {
  .navigationContainer {
    padding: 0.3rem 0.2rem 0 0.2rem;
    height: fit-content;
  }

  .imageLink {
    padding: 0;
  }

  .linkContainer {
    flex-direction: row;
    padding: 0;
    gap: 0.08rem;
  }
}

@media (hover: hover) {
  .link:hover {
    color: var(--c-primary);
    transition: 0.4s cubic-bezier(0.43, 0.05, 0.17, 1);
  }
}
