.navigationContainer {
  display: flex;
  width: 100%;
  height: 120px;
  font-size: 0.14rem;
  padding-top: 0.6rem;
  /* gap: 12px; */
  position: sticky;
  top: 0;
  z-index: 999;
  align-items: flex-start;
  justify-content: space-between;
  mix-blend-mode: difference;
  /* padding-top: 1rem; */
}

/* .navigationContainer a {
  padding: 8px 0 8px 8px;
  border-radius: 8px;
} */

.navigationContainer h2 {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 0.16rem;
  height: 24px;
  width: fit-content;
}

.icon {
  width: 24px;
  height: 24px;
}

/* .imageContainer {
  padding: 32px 0 32px 0;
} */

.imageLink {
  padding-left: 0.6rem;
}

.image {
  position: relative !important;
  width: 84px !important;
  height: auto !important;
  object-fit: contain;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  padding-right: 0.8rem;
  padding-left: 0.2rem;
  /* border-left: 1px solid var(--c-white); */
  gap: 4px;
}

.link {
  transition: 0.4s cubic-bezier(0.43, 0.05, 0.17, 1);
}

.link p {
  position: relative;
}

.text {
  font-size: 0.15rem;
}

.link p::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--c-primary);
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

@media screen and (max-width: 768px) {
  /* .navigationContainer {
    flex-direction: row;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 0;
    border-right: none;
    border-top: 4px solid var(--c-primary);
    top: auto;
    background-color: var(--c-black);
    justify-content: space-evenly;
    align-items: center;
  }

  .imageLink {
    display: none;
  }

  h2 .text {
    display: none;
  } */
}

@media (hover: hover) {
  .link:hover {
    color: var(--c-primary);
    transition: 0.4s cubic-bezier(0.43, 0.05, 0.17, 1);
    /* background-color: rgba(255, 255, 255, 0.1); */
  }

  /* .link:hover p::after {
    transform: scale(1, 1);
  } */
}
