.whoContainer {
  padding: 0.8rem 0;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.sectionTitle {
  display: flex;
  gap: 0.15rem;
  z-index: 1;
}

.sectionTitle .titleHead {
  width: 0.2rem;
  background: #25ADD7;
}

.sectionTitle .title {
  font-size: 0.32rem;
  font-weight: bold;
  letter-spacing: 0.04rem;
}

.sectionTitle .title span {
  color: #25ADD7;
}

.whoSection {
  display: flex;
  gap: 0.43rem;
  padding: 0.77rem;
  z-index: 1;
}

.iconContainer {
  width: 40%;
  font-size: 0.24rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.descriptionContainer {
  width: 60%;
  max-width: 5.36rem;
  background-color: #333333;
  border-top: #fafafa solid 0.05rem;
  border-bottom: #fafafa solid 0.05rem;
  padding: 0.28rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.description {
  letter-spacing: 0.014rem;
  line-height: 0.3rem;
  padding-bottom: 0.2rem;
}

.name {
  position: relative;
}

.name p {
  position: absolute;
  left: 33%;
  top: 22%;
  transform: rotate(-12deg);
}

.name img {
  width: 100%;
}

.iconContainer .icon {
  width: 1.65rem;
  border-radius: 50%;
  border: 4px solid #fafafa;
}

.socialIcons {
  display: flex;
  gap: 0.38rem;
  border-top: 1px solid #fafafa;
  padding: 0.2rem;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.socialIcons img {
  width: 0.32rem;
}

.backgroundImg {
  background-image: url(/images/BG_31.svg);
  position: absolute;
  opacity: 0.5;
  width: 120%;
  height: 220%;
  background-size: 50%;
  transform: rotate(-30deg);
  top: -50%;
}
