.headContainer {
  width: 100%;
  height: 54px;
  display: flex;
  font-size: 0.14rem;
  font-weight: 600;
  padding: 10px 0;
}

.contents {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left a {
  display: flex;
  gap: 12px;
  align-items: center;
}

.headIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding-left: 8px;
}

.right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8px;
}

.right a {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 0.2rem;
}
