.blogsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  padding-bottom: 32px;
}

.blog {
  display: flex;
  flex-direction: row;
  gap: 12px;
  position: relative;
}

.blog::after {
  position: absolute;
  right: 0;
  content: '';
  height: 100%;
  width: 1px;
  background-color: var(--c-primary);
  right: -1px;
  transform: scale(1, 0);
  transform-origin: right top;
  transition: transform 0.3s;
}

.imageContainer {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.blog img {
  width: 28vw;
  height: 100%;
  max-width: 335px;
  min-width: 200px;
  object-fit: cover;
  transition: 0.3s;
}

.text {
  display: flex;
  flex-direction: column;
  padding: 8px 8px 8px 0;
  gap: 8px;
  flex: 1;
  font-size: 0.14rem;
}

.text time {
  font-size: 0.12rem;
}

.text h2 {
  font-size: 0.14rem;
  line-height: 0.18rem;
  font-weight: 600;
}

.category {
  width: fit-content;
  color: rgb(224, 241, 255);
}

@media screen and (max-width: 768px) {
  .blogsContainer {
    padding-bottom: 0;
    gap: 0;
    align-items: center;
  }

  .blog {
    width: 90vw;
    flex-direction: column;
    gap: 12px;
  }

  .blog img {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  .text {
    padding: 4px 8px 48px 8px;
    gap: 10px;
  }
}

@media (hover: hover) {
  .blogsContainer a:hover .blog img {
    transform: scale(1.06);
    transition: 0.4s;
  }

  .blog:hover::after {
    transform: scale(1, 1);
  }
}
