.CardContainer {
  width: 100%;
  max-width: 840px;
}

.Card {
  padding: 0 16px;
}

.BlogsContainer {
  display: flex;
  align-items: flex-start;
  overflow-x: scroll;
  gap: 24px;
  margin: 0 16px;
  padding: unset;
  scrollbar-width: none;
}

.BlogsContainer::-webkit-scrollbar {
  display: none;
}

.BlogsContainer li {
  /* width: 30%; */
  min-width: 240px;
}

.BlogsContainer li a {
  width: 100%;
}

.imageContainer img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 8px;
}

.text {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 0.14rem;
}

.text p {
  line-height: 0.18rem;
}

@media screen and (max-width: 768px) {
  .Card {
    padding: 0;
  }

  .BlogsContainer {
    margin: 0 0 0 16px;
  }

  .BlogsContainer:nth-last-child(1) {
    padding-right: 16px;
  }
}
