.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 999;
  height: 0.74rem;
  padding: 0.08rem 0.34rem;
  top: 0;
  width: 100%;
  font-weight: 400;
}
.navbarContainer .container:last-child {
  margin-left: auto;
}

.container {
  display: flex;
  height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 0.8rem;
}

.menu {
  display: flex;
  align-items: center;
  gap: 0.22rem;
  font-size: 0.14rem;
}
