.welcomeContainer {
  display: flex;
  height: calc(100vh - 0.74rem);
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding-left: 34px;
}

.welcomeSection {
  position: relative;
  height: calc(100vh - 0.74rem);
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.mainTitle {
  width: 40%;
  max-width: 4.4rem;
  font-size: 0.3rem;
  text-align: left;
  line-height: 1.2;
  z-index: 1;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding: 0.24rem;
  margin-left: auto;
  background: #333333;
  border: solid 0.08rem #fafafa;
  box-sizing: border-box;
  border-radius: 4px;
  word-wrap: break-word
}

.mainTitle:before {
  content: "";
  background-color: #fafafa;
  z-index: 1;
  width: 25px;
  height: 30px;
  clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
  position: absolute;
  top: 50%;
  right: -28px;
}

.myIcon {
  z-index: 1;
  width: 60%;
  margin-left: auto;
  margin-top: auto;
}

.myIcon img {
  margin: 0 auto;
}

.triangleLeft {
  border-top: 2.6rem solid #25ADD7;
  border-right: 2.6rem solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.scrollDownContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 0.48rem;
  display: flex;
  z-index: 1;
}

.scrollDownContainer p {
  writing-mode: vertical-rl;
  font-weight: 400;
  font-size: 0.14rem;
}

.scrollDown {
  width: 2px;
  height: 80px;
  background: #fafafa;
  animation: scrollDown4 2s ease infinite;
}

@keyframes scrollDown4{
  0%{
      transform-origin: top;
      transform: scaleY(0);
  }
  45%{
      transform-origin: top;
      transform: scaleY(1);
  }
  55%{
      transform-origin: bottom;
      transform: scaleY(1);
  }
  100%{
      transform-origin: bottom;
      transform: scaleY(0);
  }
}

.backgroundImg {
  background-image: url('/images/BG_32.svg');
  position: absolute;
  width: 140%;
  height: 200%;
  background-size: 88%;
  transform: rotate(30deg);
}
