.cardContainer {
  width: 100%;
  max-width: 840px;
  border-bottom: 1px solid #383838;
}

.card {
  padding: 0 16px;
}

.mainImage {
  width: 100%;
  border-radius: 8px;
}

.mainContent {
  /* border-bottom: 1px solid #383838; */
  padding-bottom: 16px;
}

.actionContainer {
  width: 100%;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 0;
}

.leftAction {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.actionIcon {
  font-size: 0.22rem;
}

.titleContainer {
  display: flex;
  gap: 8px;
  font-weight: 600;
}

.title {
  font-size: 0.16rem;
}

.bodyContainer {
  font-size: 0.14rem;
  padding: 12px 0 20px 0;
  line-height: 18px;
}

@media screen and (max-width: 768px) {
  .card {
    padding: 0;
  }

  .actionContainer {
    padding: 12px 0;
  }

  .mainImage {
    border-radius: 0;
  }

  .bodyContainer {
    padding: 8px 0 24px 0;
  }

  .mainContent {
    padding: 0 16px;
  }
}
