.whatIsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--c-black); */
  /* background-image: linear-gradient(
    to right,
    var(--c-white-1) 1px,
    transparent 1px
  );
  background-size: 4px 1px;
  background-repeat: repeat-x;
  background-position: left bottom; */
  /* color: var(--c-black-1) !important; */
}

.mainImage {
  width: 100%;
  /* border-radius: 8px; */
}

.imageContainer {
  width: 100%;
  height: 480px;
  position: relative;
  border-radius: 80px 80px 0 80px;
  overflow: hidden;
}

.mainContent {
  padding-bottom: 16px;
}

.actionContainer {
  width: 100%;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 0;
}

.leftAction {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.actionIcon {
  font-size: 0.22rem;
  color: var(--c-white-1);
  padding: 8px;
  border-radius: 8px;
}

.titleContainer {
  display: flex;
  gap: 8px;
  font-weight: 600;
}

.title {
  font-size: 0.24rem;
  padding: 18px 24px;
  background-color: var(--c-primary);
  color: var(--c-black);
  word-wrap: normal;
  width: fit-content;
  border-radius: 80px 80px 0 80px;
}

.bodyContainer {
  font-size: 0.1651rem;
  letter-spacing: 0.01em;
  padding: 12px 0 20px 0;
  line-height: 1.64;
}

@media screen and (max-width: 768px) {
  .whatIsWrapper {
    /* background-size: 6px 2px; */
  }

  .actionContainer {
    padding: 12px 0;
  }

  .leftAction {
    gap: 8px;
  }

  .actionIcon {
    padding: 0;
  }

  .mainImage {
    border-radius: 0;
  }

  .imageContainer {
    /* border-radius: 0; */
    height: 240px;
  }

  .bodyContainer {
    padding: 8px 0 24px 0;
  }

  .mainContent {
    padding: 0 16px;
  }

  .title {
    font-size: 0.2rem;
    padding: 12px 16px;
  }
}

@media (hover: hover) {
  .actionIcon:hover {
    /* background-color: rgba(255, 255, 255, 0.1); */
    color: #696969;
    transition: 0.3s;
  }

  .twitter:hover {
    color: #1da1f2;
    transition: 0.3s;
  }

  .instagram:hover {
    color: #c13584;
    transition: 0.3s;
  }

  .github:hover {
    color: #696969;
    transition: 0.3s;
  }
}
