.cardContainer {
  width: 86vw;
  max-width: 1200px;
  /* min-height: 100vh; */
  padding: 8.333333333333332vw 0;
}

.card {
  padding: 0 16px;
}

@media screen and (max-width: 1050px) {
  .cardContainer {
    width: 70vw;
  }

  /* .card {
    padding: 0;
  } */
}

@media screen and (max-width: 768px) {
  .cardContainer {
    width: 100vw;
  }

  /* .card {
    padding: 0;
  } */
}
