.imageContainer {
  padding-top: 48px;
}

.imageContainer img {
  max-height: 60vh;
  border-radius: 80px 80px 0 80px;
}

.blogPageContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infoContainer {
  display: flex;
  gap: 16px;
  font-size: 0.14rem;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--c-black-4);
  color: var(--c-white-1);
  width: 100%;
  border-radius: 80px 80px 0 80px;
}

.infoContainer time {
  font-size: 0.148rem;
  letter-spacing: 0.05em;
  padding: 0 0.2rem;
}

.category {
  font-size: 0.138rem;
  font-weight: 600;
  width: fit-content;
  color: var(--c-black);
  background-color: var(--c-white-1);
  padding: 12px 24px;
  border-radius: 80px 80px 0 80px;
}

.content {
  padding: 0.12rem 0;
}

.content h1 {
  font-size: 0.4rem;
  margin: 0.7rem 0 0.34rem 0;
  font-weight: 600;
  padding: 20px 26px;
  background-color: var(--c-primary);
  color: var(--c-black);
  word-wrap: normal;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 80px 80px 0 80px;
}

.content h2 {
  margin: 1em 0;
  font-size: 0.38rem;
  font-weight: 600;
  padding: 16px 22px;
  background-color: var(--c-primary);
  color: var(--c-black);
  word-wrap: normal;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 80px 80px 0 80px;
}

.content h3 {
  margin: 0.7em 0 0.5em 0;
  font-size: 0.28rem;
  padding: 14px 22px;
  word-wrap: normal;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid var(--c-primary);
  border-radius: 80px 80px 0 80px;
}

.content h4 {
  font-size: 0.28rem;
  width: fit-content;
  padding-bottom: 14px;
  border-bottom: 1px solid var(--c-primary);
}

.content h5 {
  font-size: 0.24rem;
}

.content figure {
  margin: 0;
}

.content ul {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  line-height: 0.24rem;
}

.content ol {
  line-height: 0.24rem;
}

.content p {
  margin-bottom: 0.14rem;
  line-height: 0.24rem;
}

.content img {
  max-width: 100%;
  height: auto;
  margin: 0.3rem auto;
}

.content blockquote {
  margin: 16px 0;
  padding: 16px;
  background-color: var(--c-black-4);
  border-radius: 8px;
}

.content blockquote p {
  margin: 0;
}

.content a {
  text-decoration: underline;
  color: var(--c-primary);
}

.content pre {
  background-color: var(--c-black-1);
  border-radius: 8px;
  overflow-x: auto;
  word-break: normal;
  word-wrap: normal;
  display: flex;
}

.content code {
  padding: 0.05rem;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.144rem;
  background-color: var(--c-black-1);
  border-radius: 8px;
}

.content pre code {
  padding: 0.2rem;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.144rem;
}

@media screen and (max-width: 768px) {
  .category {
    padding: 8px 12px;
  }

  .content {
    line-height: 0.28rem;
  }

  .content img {
    max-width: 100%;
  }

  .content h1,
  .content h2 {
    margin: 0.5rem 0 0.26rem 0;
  }
}
