.imageContainer {
  height: 240px;
  overflow: hidden;
  border-radius: 8px;
}

.imageContainer img {
  max-width: 100%;
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.blogPageContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infoContainer {
  display: flex;
  gap: 8px;
  font-size: 0.14rem;
  justify-content: flex-end;
}

.content {
  padding: 56px 0;
  line-height: 0.24rem;
}

.content h1 {
  font-size: 0.4rem;
  margin: 0.7rem 0 0.34rem 0;
  font-weight: 600;
}

.content h2 {
  margin: 1em 0;
  font-size: 0.38rem;
  font-weight: 600;
}

.content h3 {
  font-size: 0.32rem;
}

.content h4 {
  font-size: 0.28rem;
}

.content h5 {
  font-size: 0.24rem;
}

.content figure {
  margin: 0;
}

.content ul {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.content p {
  margin-bottom: 0.14rem;
}

.content img {
  max-width: 100%;
  height: auto;
  margin: 0.3rem auto;
}

.content blockquote {
  border-left: 4px solid var(--c-white-1);
  margin: 16px 0;
  padding: 16px;
}

.content blockquote p {
  margin: 0;
}

.content a {
  text-decoration: underline;
  color: var(--c-primary);
}

@media screen and (max-width: 768px) {
  .infoContainer {
    padding: 0 16px;
  }

  .content {
    padding: 24px 16px;
    line-height: 0.28rem;
  }

  .imageContainer {
    border-radius: 0;
  }

  .content img {
    max-width: 100%;
  }

  .content h1,
  .content h2 {
    margin: 0.5rem 0 0.26rem 0;
  }
}
