.imageContainer {
  height: 240px;
  overflow: hidden;
}

.imageContainer img {
  max-width: 100%;
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.blogPageContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infoContainer {
  display: flex;
  gap: 8px;
  font: 0.12rem;
  justify-content: flex-end;
}

.content {
  padding: 56px 0;
  line-height: 0.22rem;
}

.content img {
  position: relative;
  text-align: center;
  max-width: 80%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .infoContainer {
    padding: 0 16px;
  }

  .content {
    padding: 24px 16px;
  }

  .content img {
    max-width: 100%;
  }
}
