.container {
  min-height: 100vh;
  padding: 0 2rem;
}

.header {
  position: fixed;
  height: 80px;
  top: 0;
  padding: 16px 0 16px 0;
  display: flex;
  gap: 16px;
  width: 100vw;
  justify-content: center;
  align-items: center;
  z-index: 100;

  .menu {
    font-family: 'Raleway', sans-serif;
    color: #fafafa;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.main {
  font-family: 'Kosugi Maru', sans-serif;

  .firstView {
    height: 100vh;
    background-color: #4F4F4F;
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .icon {
      animation: uneune 5s linear infinite;
      overflow: hidden;
      transition: 0.3s;

      @keyframes uneune {
        0% {
          border-radius: 60% 50% 70% 80% / 50% 60% 50% 70%;
        }
        50% {
          border-radius: 60% 40% 70% 60% / 40% 60% 50% 60%;
        }
        100% {
          border-radius: 60% 50% 70% 80% / 50% 60% 50% 70%;
        }
      }

      &:hover {
        transition: 0.5s;
        opacity: 0.7;
      }

      .testIcon {
        background-color: #0070f3;
        width: 500px;
        height: 500px;
      }
    }

    .welcome {
      color: #fafafa;
      font-weight: lighter;
      display: inline-block;
      width: 27ch;
      height: fit-content;
      font-family: Consolas, Monaco, monospace;
      font-size: 1.4rem;
      overflow: hidden;
      white-space: nowrap;
      border-right: 1px solid transparent;
      animation: typing 2s steps(27), caret 0.3s steps(1) infinite;
    }
    @keyframes typing {
      from {
        width: 0;
      }
    }
    @keyframes caret {
      50% {
        border-right-color: currentColor;
      }
    }
  }

  .about {
    width: 100%;
    // height: 100vh;
    background-color: #323232;
    padding: 96px 0 96px 0;

    .aboutContainer {
      width: 70%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      gap: 48px;
    }

    .aboutTitle {
      color: #fafafa;
      font-size: 2.4rem;
      font-weight: bold;
      font-family: 'Raleway', sans-serif;
    }

    .aboutDescription {
      color: #eaeaea;
      font-size: 0.9rem;
      line-height: 1.7;

    }
  }

  .history {
    // height: 100vh;
    color: #333333;
    background-color: #C8F39A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 96px 0 96px 0;

    .historyTitle {
      font-size: 2.4rem;
      font-weight: bold;
      padding-bottom: 24px;
      font-family: 'Raleway', sans-serif;
    }

    .historyContainer {
      width: 80%;
      display: flex;
      flex-direction: row;
      gap: 24px;

      .year {
        font-family: 'Azeret Mono', monospace;        font-size: 1.2rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        padding-right: 16px;
        border-right: solid 1px #333333;
      }

      .description {
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        padding: 16px 0 16px 0;

      }
    }
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
